    *{
    margin: 0;
    padding: 0;
    font-size: 18px;
    }

    .LogoCAC{
    height: 70px;
    }

    .portada{

    background-image: url(../img/ba1.png);
    height: 700px;
    }

    .spanCategorias{
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    }

    .imgOctubre{
    background-image: url(../img/honolulu.jpg);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;

    }

    #main-footer {
    background: #1d3c4e;
    color: #fff;
    padding: 1.5rem;
    }

    #main-footer .nav-link {
    color: #fff;
    text-align: center;
    }

    .btn-formulario{
    background-color: #96c93e;
    color: white;
    }

    .btn-formulario:hover{
    background-color: #4b7700;
    color: white;
    }

    .btn-white-border{
    border-radius: 5px;
    border:white solid 1px;
    color: white;
    }

    .btn-white-border:hover{
    background-color: #fff;
    color: black;
    }

    form{
    margin-bottom: 50px;
    }

#totalAPagar {
   color:var(--bs-primary-text-emphasis);
    border: 1px transparent;
    background: transparent;
}
